@use 'variables';

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  display: flex;
  align-items: center;
  a {
    color: variables.$blue-color;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
