@use 'variables';

.controlPanel {
  position: fixed;
  bottom: 10vh;
  display: flex;
  button {
    min-width: 20vw;
    text-align: center;
  }
}
.viewPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .interval {
    font-size: 8rem;
  }
  .scaleDegree {
    margin-top: 2rem;
    color: variables.$blue-color;
    font-size: 2rem;
  }
}
